



<!--<div *ngIf="authenticationService.currentUser!=undefined">Hallo</div>-->

<div class="userDisplay">
  <li class="name">
    <ul class="name">Account from <input class="textfieldusername" [(ngModel)]="this.nameVar" ></ul>
    <ul class="name">Mail: <input class="textfieldmail" [(ngModel)]="this.mailVar" ></ul>
    <ul class="name">Password: <input class="textfieldmail" placeholder="**********" [(ngModel)]="passWord" ></ul>
    <div id="infoText">{{infoText}}</div>
    <ul>
      <button class="button" (click)="saveInfos()"  mat-raised-button>Save Credentials</button>
      <button class="button" (click)="logOut()"  mat-raised-button>Log Out</button>
      <button class="button" (click)="saveInfos()"  mat-raised-button>delete Account</button>
    </ul>
  </li>
</div>




<div class="blogsfromauthor">
  <div class="filter">
    <th>Filter: <input [(ngModel)]="listFilter" placeholder="Titles, Tags, Places" class="textfield"/></th>
  </div>

  <div class = "newBlog" routerLink="#/editblog/newBlog" >
    <div> Share your last vacation impressions!</div>
  </div>

  <li *ngFor="let blog of filteredBlogEntrys" class="allblogs">

    <ul class="oneblog" routerLink="/editblog/{{blog.displayname}}" >
      <app-blogtile [blog]=blog></app-blogtile>
    </ul>
  </li>

</div>
