.allblogs {

  //list-style: none;
  display: inline;
}

.singleblogentry {
  float: left;
}


.iconedit {
  //vertical-align: center;
  font-size: x-large;
  margin-bottom: -50px;
}


.oneblog {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 50px;
}
