<div>
  Filter zeugs kommt hierhin
  <i class="fa-solid fa-comment"></i>

</div>


<li *ngFor="let blog of getBlogEntrys()" class="allblogs">

  <div onclick="location.href='blogs/newblog';" class="oneblog2">
    <div class="oneblog">
      <div class="title">{{blog.title}}</div>
      <p>{{blog.blogentryShort}}</p>
      <div class="blogpreview">
        {{blog.blogentry}}
      </div>
      <ul class="blogfooter">
        <li>
          <div class="author">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="user"></mat-icon>
            {{blog.author.displayname}}
          </div>
        </li>
        <li class="location">
          {{blog.location.place}}, {{blog.location.country}}
        </li>
        <li>
          <fa-icon [icon]="faComment"></fa-icon>
          {{blog.comments.length}}
        </li>
        <li *ngFor="let tag of blog.tags">
          <div class="tag">{{tag}}</div>
        </li>
      </ul>
    </div>
  </div>

</li>
