

.allblogs {
  //margin: 30px;
  list-style: none;
  margin-top: 50px;
  margin-right: 20%;
  margin-left: 20%;
}

.filter{
 //align-items: center;
  margin-left: 20%;
}


.oneblog2{
  //background-color: red;
  border-radius: 33px;
  //max-width: 30px;
  background-image: url("../../assets/urlaubsfotos/strand.jpeg");

  cursor: pointer;

}
