.authorname{
  font-size: xxx-large;
  text-align: center;
  font-weight: bold;
  padding-bottom: 30px;
}
.publishedblogs{
  text-align: center;
  font-style: italic;
}

.allblogs {
  //margin: 30px;
  list-style: none;
  margin-top: 50px;
  margin-right: 20%;
  margin-left: 20%;
}
