@import "../../styles/tags";


.wholeblog {
  font-family: C059, serif;
  margin-top: 50px;
  margin-right: 20%;
  margin-left: 20%;
  list-style: none;
}

infos {
  list-style: none;
}

.title {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 20px;
}

.subtitle {
  font-size: larger;
  color: #555555
}
