/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: C059;
//  background-color: #ffffff;
  background-image: url("assets/newLogo.png");
  background-repeat: no-repeat;
  background-position:right bottom;
}
