.author {
  text-align: center;
  font-family: "Droid Sans Georgian";
  padding: 30px;
  cursor: pointer;
  display: compact;
  margin-left: 30%;
  margin-right: 30%;

  border-bottom-style: solid;
  border-left: none;
  border-top: none;
  border-right: none;
  border-width: 2px;
  border-color: #777777;
  list-style: none;

  &:hover {
    //background-color: #dadada;
    color: #2ca7e9;
  }
}

.title {
  font-size: x-large;
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}

.authorName {
  font-size: large;
  font-weight: bold;
}

.publishedBlogs {
  font-style: italic;
}

.filter {
  //margin-left: 30%;
  margin-left: 40%;
  list-style: none;
}
